<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h3>Some facts about ninjas:</h3>
    <ul>
        <li>Ninjas came from Japan.</li>
        <li>A ninja is not the same as a samurai.</li>
        <li>Ninjas use swords, knives, nunchucks, and throwing stars.</li>
    </ul>
</body>
</html>