<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if display_ninja == "blue" %}
        <img src="{{url_for('static', filename='leonardo.jpg')}}" alt="Leonardo">
    {% elif display_ninja == "orange" %}
        <img src="{{url_for('static', filename='michelangelo.jpg')}}" alt="Michelangelo">
    {% elif display_ninja == "red" %}
        <img src="{{url_for('static', filename='raphael.jpg')}}" alt="Raphael">
    {% elif display_ninja == "purple" %}
        <img src="{{url_for('static', filename='donatello.jpg')}}" alt="Donatello">
    {% elif display_ninja %}
        <img src="{{url_for('static', filename='notapril.jpg')}}" alt="Megan Fox">
    {% endif %}
</body>
</html>