<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/result" method="post">
            <label for="name">Email: </label>
            <input type="text" id="email" name="email">
            <br>
            <label for="name">First name: </label>
            <input type="text" id="first_name" name="first_name">
            <br>
            <label for="name">Last name: </label>
            <input type="text" id="last_name" name="last_name">
            <br>
            <label for="name">Password: </label>
            <input type="text" id="password" name="password">
            <br>
            <label for="name">Confirm password: </label>
            <input type="text" id="confirm_password" name="confirm_password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>