<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{my_counter}}</p>
    <form action="/double_counter">
        <input type="submit" name="submit" value="Add 2">
    </form>
    <form action="/reset">
    <input type="submit" name="reset" value="Reset">
    </form>
</body>
</html>